*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif, serif;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.header {
  height: 10%;
  display: flex;
  flex: 1 100%;
  align-items: center;
  justify-content: center;
}

.header img {
  height: 65px;
}

.body-content {
  display: flex;
  height: 85%;
  flex-direction: column;
}

.alerts {
  height: 5%;
  flex: 1 100%;
  font-size: 18px;
  text-align: center;
  color: #555;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  overflow-y: scroll;
  margin: 5px;
  padding: 10px 0;
  border-top: 1px solid #F0F0F0;
}

.pin-container {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.pin {
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pin:hover {
  background-color: #F0F0F0;
}

.pin img {
  border-radius: 8px;
  min-width: 236px;
}

.description {
  width: 10em;
  word-wrap: break-word;
  text-align: center;
  margin-top: 10px;
}

.pin-container a {
  text-decoration: none;
  color: #555;
}

.hidden {
  display: none;
}